{% extends '_base.html' %}

{% block content %}
{% include 'labs/_nav_header.html' %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <li{% ifequal nav_labs_manage 'profile' %} class="active"{% endifequal %}><a href="{% url 'labs_manage_profile' lab.id %}">Lab Profile</a></li>
        <li{% ifequal nav_labs_manage 'devices' %} class="active"{% endifequal %}><a href="{% url 'labs_manage_devices' lab.id %}">Devices</a></li>
        <li{% ifequal nav_labs_manage 'pods' %} class="active"{% endifequal %}><a href="{% url 'labs_manage_pods' lab.id %}">Pods</a></li>
        <li{% ifequal nav_labs_manage 'consoleservers' %} class="active"{% endifequal %}><a href="{% url 'labs_manage_consoleservers' lab.id %}">Console Servers</a></li>
      </ul>
    </div>
    <div class="span10">
      {% block lab_manage %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}