{% extends '_base.html' %}

{% block content %}
<h1>Labs!</h1>
<div class="row">
  <div class="span3"><h5 class="muted">Lab Name</h5></div>
  <div class="span3"><h5 class="muted">Country</h5></div>
  <div class="span2"><h5 class="muted">Founded</h5></div>
  <div class="span2"><h5 class="muted">Pods</h5></div>
  <div class="span2"><h5 class="muted">Members</h5></div>
</div>
{% for l in lab_list %}
<div class="row">
  <div class="span3"><h4><a href="{% url 'lab' l.id %}">{{ l }}</a></h4></div>
  <div class="span3"><h4>{{ l.country.name }}</h4></div>
  <div class="span2"><h4>{{ l.founded }}</h4></div>
  <div class="span2"><h4>{{ l.pods.count }}</h4></div>
  <div class="span2"><h4>{{ l.members|length }}</h4></div>
</div>
{% endfor %}
{% endblock %}
