{% extends '_base.html' %}

{% block content %}
<h1>{{ lab }}</h1>
<div class="row">
  <div class="span5">
    <p>{{ lab.profile.content|safe }}</p>
  </div>
  <div class="span7">
    {% for pod in lab.pods.all %}
    <h5>Pod {{ pod }}</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Device</th>
          <th>Type</th>
          <th>Port</th>
        </tr>
      </thead>
      <tbody>{% for device in pod.devices.all %}
        <tr>
          <td>{{ device.name }}</td>
          <td>{{ device.get_type_display }}</td>
          <td>{{ device.port }}</td>
        </tr>
      {% endfor %}</tbody>
    </table>
    {% endfor %}
  </div>
</div>
{% endblock %}
