{% extends '_base.html' %}
{% load easy_maps_tags %}
{% load thumbnail %}

{% block title %}{{ lab }}{% endblock %}

{% block content %}
{% include 'labs/_nav_header.html' %}
<div class="row">
  <div class="span7">
    <p>{{ lab.profile|safe }}</p>
    <hr>
    <h3>Lab Pods</h3>
    {% for pod in lab.pods.all %}
    <h5>Pod {{ pod }}</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Device</th>
          <th>Type</th>
          <th>Port</th>
        </tr>
      </thead>
      <tbody>
      {% for device in pod.devices.all %}
        <tr>
          <td>{{ device.name }}</td>
          <td>{{ device.get_type_display }}</td>
          <td>{{ device.cs_port }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No devices</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
    <hr>
    <h3>Topology Drawings</h3>
    <ul class="thumbnails">
      {% for t in lab.topologies.all %}
      <li class="span3">
        {% thumbnail t.image "300x200" crop="center" as im %}
        <a href="{{ t.image.url }}" class="thumbnail"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ t.title }}"></a>
        {% endthumbnail %}
        <h5>{{ t.title }}</h5>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span5">
    {% thumbnail lab.photo "400x300" crop="center" as im %}
    <a href="{{ lab.photo.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
    {% endthumbnail %}
    <h3>{% if lab.location %}{{ lab.location }} <small>{{ lab.country.name }}</small>{% else %}{{ lab.country.name }}{% endif %}</h3>
    {% easy_map lab.map_address 400 300 5 %}
  </div>
</div>
{% endblock %}
