{% extends '_base.html' %}
{% load bootstrap_tags %}

{% block headextra %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span10 offset1">
    <form class="form-horizontal" action="." method="post">
      <fieldset>
        <legend>Editing {{ lab }}</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
          <a href="#back" class="btn">Go back</a>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
