{% extends 'labs/_manage.html' %}
{% load bootstrap_toolkit %}

{% block lab_manage %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pod</th>
          <th>Devices</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for pod in pod_list %}
        <tr>
          <td><a href="{% url 'labs_edit_pod' pod.id %}">{{ pod }}</a></td>
          <td>{{ pod.devices.all|join:", " }}</td>
          <td>
            <a href="{% url 'labs_edit_pod' pod.id %}">edit</a>
            {% if not pod.devices.all %}| <a href="{% url 'labs_delete_pod' pod.id %}" class="text-error" onclick="return confirm('Delete pod {{ pod.name }}?')">delete</a>{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form class="form-horizontal" action="." method="post">
      <fieldset>
        <legend>Add a Pod</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
{% endblock %}
