{% extends 'labs/_manage.html' %}
{% load bootstrap_tags %}

{% block lab_manage %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pod</th>
          <th>Devices</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for pod in pod_list %}
        <tr>
          <td>{{ pod }}</td>
          <td>{{ pod.devices.all|join:", " }}</td>
          <td>{% if not pod.devices.all %}<a href="{% url 'labs_delete_pod' pod.id %}" class="text-error">delete</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form class="form-horizontal" action="." method="post">
      <fieldset>
        <legend>Add a Pod</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
{% endblock %}
