{% extends 'labs/_manage.html' %}
{% load bootstrap_toolkit %}

{% block lab_manage %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ports</th>
          <th>Domain Name</th>
          <th>IPv4 Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cs in cs_list %}
        <tr>
          <td><a href="{% url 'labs_edit_consoleserver' cs.id %}">{{ cs.name }}</a></td>
          <td>{{ cs.port_count }}</td>
          <td>{{ cs.fqdn }}</td>
          <td>{{ cs.ip4_address }}</td>
          <td>
            <a href="{% url 'labs_edit_consoleserver' cs.id %}">edit</a>
            {% if not cs.port_count %}| <a href="{% url 'labs_delete_consoleserver' cs.id %}" class="text-error" onclick="return confirm('Delete console server {{ cs.name }}?')">delete</a>{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form class="form-horizontal" action="." method="post">
      <fieldset>
        <legend>Add a Console Server</legend>
        <div class="row-fluid">
          <div class="span7">
            {% csrf_token %}
            {{ form|as_bootstrap }}
          </div>
          <div class="span5 well">
            <dl>
              <dt>Domain Name and IP Addresses</dt>
              <dl>If your console server does not have a static public IP address, you can identify it by its domain name instead. Users will need to include your domain when logging in (e.g. username@example.com), which identifies your console server.</dl>
              <dt>Creating Initial Ports</dt>
              <dl>You may optionally create a set of initial ports along with your console server. Simply specify the ID and Telnet/SSH ports for the first port, and the number of ports to create.</dl>
            </dl>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
{% endblock %}
