{% extends '_base.html' %}
{% load widget_tweaks %}

{% block content %}
{% include 'labs/_nav_header.html' %}
<div class="row">
  <div class="span8">
    <h3>{{ lab }} Members</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Member</th>
          <th>Joined</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        {% for m in member_list %}
        <tr>
          <td>{{ m.user }}</td>
          <td>{{ m.joined }}</td>
          <td>{{ m.get_role_display }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="span4">
    {% if request.user in lab.admins %}
    <div class="control-group{% if invitation_form.member.errors %} error{% endif %}">
    <form class="form-inline" action="." method="post">
    {% csrf_token %}
    {% render_field invitation_form.member %}
    <button type="submit" class="btn btn-primary">Invite Member</button>
    {% for error in invitation_form.member.errors %}
      <span class="help-inline">{{ error }}</span>
    {% endfor %}
    </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
