{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ lab }} - Members{% endblock %}

{% block content %}
{% include 'labs/_nav_header.html' %}
<div class="row">
  <div class="span8">
    <h3>{{ lab }} Members</h3>
    {% if request.user in lab.admins %}
    <form action="." method="post">
      {% csrf_token %}
    {% render_table table %}
    <div class="form-actions form-inline">
      {{ memberships_form.action }}
      <input type="submit" name="membership_management" value="Go" class="btn btn-primary" />
    </div>
    </form>
    {% else %}
    {% render_table table %}
    {% endif %}
  </div>
  <div class="span4">
    {% if request.user in lab.admins and not lab.is_public %}
    <form class="form-inline well" action="." method="post">
    <h4>Add some friends!</h4>
    <p>As an administrator of a private lab, you can invite other registered users to join your lab by entering their username below.</p>
    <div class="control-group{% if invitation_form.member.errors %} error{% endif %}">
      {% csrf_token %}
      {{ invitation_form.member }}
      <input type="submit" name="send_invitation" value="Invite User" class="btn btn-primary" />
      {% for error in invitation_form.member.errors %}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
