{% extends '_base.html' %}
{% load tz %}
{% load bootstrap_toolkit %}

{% block title %}{{ lab }} - Schedule{% endblock %}

{% block headextra %}
<link href="{{ STATIC_URL }}css/schedule.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'labs/_nav_header.html' %}
<div class="container">
  <div class="row">
    <div class="span3">
      {% if reservation_forbidden %}
      <div class="alert alert-error">{{ reservation_forbidden }}</div>
      {% else %}
      <h5>Reserve this Lab!</h5>
      <form action="." method="post">
      {% csrf_token %}
      {{ reservation_form|as_bootstrap }}
      <button type="submit" class="btn btn-primary">Create</button>
      </form>
      {% endif %}
    </div>
    <div class="span9">
      <div id="schedule">
        <div class="schedrow">
          <div class="cell day hour"></div>
          {% for d in s.get_days %}
          <div class="cell day">{{ d|date:"M j (D)" }}</div>
          {% endfor %}
        </div>
        {% for hour, days in s.schedule.items %}
        <div class="schedrow">
          <div class="cell hour">{{ hour }}:00</div>
          {% for day, pods in days.items %}
          <div class="cell{% if hour not in lab_open_hours %} closed{% endif %}{% if day.day == now.day and hour == now.hour %} now{% endif %}">
            {% for pod, block in pods.items %}
            <div class="pod podof{{ pods|length }} pod{{ pod }}">
              {% if block %}
              <div class="block duration{{ block.duration }}{% if block.offset %} offset{{ block.offset }}{% endif %}{% if block.wrap %} wrap{% elif block.unwrap %} unwrap{% endif %}"><a href="{{ block.url }}" title="{{ block.duration }} minutes"></a></div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="schedend">Current time: {{ current_time|localtime }} ({{ TIME_ZONE }})</div>
      </div>
    </div>
  </div>
{% endblock %}
