{% extends '_base.html' %}
{% load tz %}

{% block content %}
<div class="row">
  <div class="span6">
    <h5 class="muted">Lab</h5>
    <h3><a href="{{ rsv.lab.get_absolute_url }}">{{ rsv.lab }}</a></h3>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h5 class="muted">Reservation Time</h5>
    <h2>{{ rsv.start_time|localtime }} <small>{{ TIME_ZONE }}</small></h2>
  </div>
  <div class="span4">
    {% if rsv.time_until %}
    <h5 class="muted">Starts in</h5>
    <h2>{{ rsv.time_until }}</h2>
    {% elif not rsv.is_expired %}
    <h5 class="muted">Time remaining</h5>
    <h2 class="text-success">{{ rsv.time_left }}</h2>
    {% else %}
    <h5 class="muted">Starts in</h5>
    <h2 class="text-error">Expired</h2>
    {% endif %}
  </div>
  <div class="span2">
    <h5 class="muted">Duration</h5>
    <h2>{{ rsv.duration }} hour{{ rsv.duration|pluralize }}</h2>
  </div>
</div>

<h5 class="muted">Lab Devices</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Device</th>
      <th>Pod</th>
      <th>Type</th>
      <th>Console Server</th>
      <th>Port</th>
      <th>Telnet</th>
      <th>SSH</th>
      {% if request.user == rsv.user or request.user in rsv.lab.admins %}
      <th>Username</th>
      <th>Password</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for pod in rsv.pods.all %}
  {% for device in pod.devices.select_related %}
    <tr>
      <td><strong>{{ device.name }}</strong></td>
      <td>{{ pod }}</td>
      <td>{{ device.get_type_display }}</td>
      <td>{% if device.cs_port.consoleserver.fqdn %}{{ device.cs_port.consoleserver.fqdn }}{% else %}{{ device.cs_port.consoleserver.ip4_address }}{% endif %}</td>
      <td>{{ device.cs_port.number }}</td>
      <td>{% if device.cs_port.telnet_port %}<a href="telnet://{{ device.cs_port.consoleserver.ip4_address }}:{{ device.cs_port.telnet_port }}/">{{ device.cs_port.telnet_port }}</a>{% endif %}</td>
      <td>{% if device.cs_port.ssh_port %}<a href="ssh://{{ device.cs_port.consoleserver.ip4_address }}:{{ device.cs_port.ssh_port }}/">{{ device.cs_port.ssh_port }}</a>{% endif %}</td>
      {% if request.user == rsv.user or request.user in rsv.lab.admins %}
      <td>{{ rsv.user }}{% if device.cs_port.consoleserver.fqdn %}@{{ device.cs_port.consoleserver.fqdn }}{% endif %}</td>
      <td>{{ rsv.password }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="span3 offset9 text-right">
    {% if request.user == rsv.user or request.user in rsv.lab.admins %}
    <a href="{% url 'scheduler_delete_reservation' rsv.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel this reservation?')">Cancel reservation</a>
    {% endif %}
  </div>
</div>
{% endblock %}
