{% extends '_base.html' %}

{% block content %}
<h2>{% if username %}Upcoming reservations for {{ username }}{% else %}Your upcoming reservations{% endif %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Starts In</th>
      <th>Duration</th>
      <th>User</th>
      <th>Lab</th>
      <th>Pod(s)</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for rsv in rsv_list %}
    <tr>
      <td><a href="{{ rsv.get_absolute_url }}">{{ rsv.start_time }}</a></td>
      <td>{% if rsv.time_until %}{{ rsv.time_until }}{% elif not rsv.is_expired %}<span class="text-success">Active</span>{% else %}<span class="text-error">Expired</span>{% endif %}</td>
      <td>{{ rsv.duration }} hours</td>
      <td>{{ rsv.user }}</td>
      <td>{{ rsv.lab }}</td>
      <td>{{ rsv.get_pods|join:", " }}</td>
      <td>{{ rsv.created_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
