{% extends '_base.html' %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Duration</th>
      <th>User</th>
      <th>Lab</th>
      <th>Pod(s)</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for rsv in rsv_list %}
    <tr>
      <td><a href="{{ rsv.get_absolute_url }}">{{ rsv.start_time }}</a></td>
      <td>{{ rsv.duration }} hours</td>
      <td>{{ rsv.user }}</td>
      <td>{{ rsv.lab }}</td>
      <td>{{ rsv.get_pods }}</td>
      <td>{{ rsv.created_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
