{% extends '_base.html' %}

{% block content %}
<div class="row" style="padding-top: 16px;">
  <div class="span2 offset1 text-center">
    <img src="{{ STATIC_URL }}logo.png" alt="Labkeeper logo" style="margin-top: 16px;"/>
  </div>
  <div class="span8">
    <div class="page-header">
      <h1>Introducing Labkeeper</h1>
    </div>
    <p class="lead">This free scheduling and authentication service lets you share your home or office training lab with your friends and coworkers &mdash; from anywhere!</p>
    <p class="text-warning"><strong>Beta announcement coming soon!</strong></p>
  </div>
</div>
<div class="row">
  <div class="span8 offset3">
    <h2>How does it work?</h2>
    <img src="{{ STATIC_URL }}misc/conceptual_overview1.png" style="margin: 16px 0px;" alt="Labkeeper conceptual overview" />
  </div>
</div>
{% endblock %}
