{% extends '_base.html' %}

{% block title %}{{ block.super }} - {{ profile.user }}{% endblock %}

{% block content %}
<h2>{{ profile.user }}{% ifequal profile.user request.user %} <small><a href="{% url 'users_edit_profile' profile.user.username %}">edit</a></small>{% endifequal %}</h2>
<div class="row">
  <div class="span7">
    <div class="row-fluid">
      <div class="span3 muted">Name</div>
      <div class="span9">{{ profile.user.first_name }} {{ profile.user.last_name }}</div>
    </div>
    <div class="row-fluid">
      <div class="span3 muted">Date joined</div>
      <div class="span9">{{ profile.user.date_joined|date }}</div>
    </div>
    <div class="row-fluid">
      <div class="span3 muted">Last active</div>
      <div class="span9">{% if profile.last_active %}{{ profile.last_active }}{% else %}Never{% endif %}</div>
    </div>
    {% ifequal profile.user request.user %}
    <div class="row-fluid">
      <div class="span3 muted">Email</div>
      <div class="span9">{{ profile.user.email }} <span class="label label-info">private</span></div>
    </div>
    {% endifequal %}
    <div class="row-fluid">
      <div class="span3 muted">Country</div>
      <div class="span9">{{ profile.country.name }}</div>
    </div>
    <div class="row-fluid">
      <div class="span3 muted">Location</div>
      <div class="span9">{{ profile.location }}</div>
    </div>
    <div class="row-fluid">
      <div class="span3 muted">Time zone</div>
      <div class="span9">{{ profile.get_timezone_display }}</div>
    </div>
    {% if profile.twitter %}
    <div class="row-fluid">
      <div class="span3 muted">Twitter</div>
      <div class="span9"><a href="http://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a></div>
    </div>
    {% endif %}
    {% if profile.facebook %}
    <div class="row-fluid">
      <div class="span3 muted">Facebook</div>
      <div class="span9"><a href="http://facebook.com/{{ profile.facebook }}">{{ profile.facebook }}</a></div>
    </div>
    {% endif %}
  </div>
  <div class="span5">
    {% ifequal request.user profile.user %}
    {% with profile.user.membership_invitations.all as invitations %}
    {% if invitations %}
    <h4>Invitations</h4>
    <ul>
      {% for i in invitations %}<li>{{ i.sender }} invited you to <a href="{{ i.lab.get_absolute_url }}">{{ i.lab }}</a><br />
      <a href="{% url 'labs_invitation_response' i.id 'accept' %}" class="btn btn-mini btn-success">Accept</a>
      <a href="{% url 'labs_invitation_response' i.id 'decline' %}" class="btn btn-mini btn-danger" onclick="return confirm('Decline the invitation to {{ i.lab }}?')">Decline</a></li>{% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endifequal %}
    <h4>Memberships</h4>
    <ul>
      {% for m in profile.user.memberships.all %}<li>{% if not m.lab.is_public %}<i class="icon-lock"></i> {% endif %}<a href="{{ m.lab.get_absolute_url }}">{{ m.lab }}</a> ({{ m.get_role_display }})</li>
      {% empty %}<li>None yet</li>
      {% endfor %}
    </ul>
    <h4>Upcoming Reservations</h4>
    <ul>
      {% for r in profile.user.reservations.upcoming %}<li><a href="{{ r.get_absolute_url }}">{{ r.lab }} - {{ r.start_time }}</a></li>
      {% empty %}<li>No upcoming reservations</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
